.footer {
    width: 100%;
    height: 200px;
  background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    position: absolute;
    top: 98%;
  }
  .footer p {
    color: black;
  }
  .social-icon {
    font-size: 24px;
    margin: 8px;
  }
  
  .instagram-icon {
    color: #e4405f;
  }
  
  .pinterest-icon {
    color: #bd081c;
  }
 .twitter-icon{
  color: rgb(95, 160, 234);
 }
